$flux-darkest-blue: #243f80;
$flux-dark-blue: #3d6ddd;
$flux-lighter-blue: #5f86e3;
$flux-light-blue: #c3d2f4;

$flux-green: #3eaf7c;

$flux-black: #1a1a1a;
$flux-white: #ffffff;
$flux-gray: #2f2f2f;
$flux-mid-gray: #555555;
$flux-light-gray: #5f5f5f;

$primary: $flux-dark-blue;
$secondary: $flux-light-blue;
$dark: $flux-black;
$blue: $flux-dark-blue;
